.footer-container{
    display: flex;
    gap: 15px;
}

.site-footer {
    background-color: yellowgreen;
    padding: 45px 0 20px;
    font-size: 15px;
}

.site-footer>.footer-container {
    padding-left: 20px;
}
